<nav class="nav-bar side-padding">
  <h1 class="nav-header"><a href="{{ .Site.BaseURL }}" class="nav-text">
    {{- if isset $.Site.Params "brand"}}
      {{- $.Site.Params.brand -}}
    {{ end }}
    {{ if isset $.Site.Params "head_img" }}
      <img src="{{ $.Site.Params.head_img }}">
    {{ end }}
    {{ if isset $.Site.Params "show_title" }}
      {{- $.Site.Title -}}
    {{ end }}
  </a></h1>
  <a href="/matplotblog/index.xml"><img src="/rss.svg" style="width: 25px; margin: 10px" alt="RSS feed"></a>
  <div class="hamburger-menu">
    <button onclick="hamburgerMenuPressed.call(this)" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Menu">
      <span></span>
      <span></span>
    </button>
    <ul id="menu" class="hamburger-menu-overlay">
      <li><a href="{{ .Site.BaseURL }}" class="hamburger-menu-overlay-link">Home</a></li>
      {{ range where .Site.Pages "Params.displayinmenu" true -}}
        <li><a href="{{ .Permalink }}" class="hamburger-menu-overlay-link">{{ .Title }}</a></li>
      {{ end -}}
      {{ range $key, $value := .Site.Taxonomies.categories -}}
      <li><a href="{{ (printf "%s%s" "categories/" ($key | urlize)) | absURL }}" class="hamburger-menu-overlay-link">{{ $key | humanize }}</a></li>
      {{- end }}
      {{ if eq .Site.Params.rssinmenu true -}}
      <li><a href="{{ "/index.xml" | absURL }}" class="hamburger-menu-overlay-link">rss</a></li>
      {{- end }}
      {{ if isset $.Site.Params "link1" }}
      <li><a href="{{ $.Site.Params.link1 }}" class="hamburger-menu-overlay-link" target="blank">{{ $.Site.Params.link1_description }}</a></li>
      {{ end }}
      {{ if isset $.Site.Params "link2" }}
      <li><a href="{{ $.Site.Params.link2 }}" class="hamburger-menu-overlay-link" target="blank">{{ $.Site.Params.link2_description }}</a></li>
      {{ end }}
      {{ if isset $.Site.Params "link3" }}
      <li><a href="{{ $.Site.Params.link3 }}" class="hamburger-menu-overlay-link" target="blank">{{ $.Site.Params.link3_description }}</a></li>
      {{ end }}
    </ul>
  </div>
</nav>
